.Titulo {
  display: flex;
  margin: 50px;
  margin-top: 30px;
  text-align: center;
  flex-direction: column; 
}

h2 {    
  color: #FF3A2C;
  font-size: 50px;
}

.História, .Foto, .Descrição {
    display: flex;
}

.História {
    justify-content: space-evenly;
    align-items: center;
}

.Foto img {
    width: 300px;
    padding: 20px;
    border-radius: 50px;
}

.Descrição p {
    width: 700px;
    padding: 20px;
    text-align: justify;
}

@media screen and (max-width:600px) {
    .História, .Foto, .Descrição {
        flex-direction: column;
    }

    .Descrição p {
        width: 300px;
    }
}